
<div class="frontal">
  <video playsinline autoplay muted loop>
<source src="../../assets/video/intro.mp4" type="video/mp4">
</video>
</div>


<div class="beginner">

  <div class="green">
    <a routerLink="/beginner" routerLinkActive="active" >
      <img src="../assets/image/green.jpg" width="100%" height="494px">
    </a>

  </div>

  <div class="arsenal">
    <a href="www.pornhub.de">
      <img src="../assets/image/arsenal.jpg" width="100%" height="494px">
    </a>
  </div>

</div>
<!-- maybe later
<div class="pvp">
  <a href="www.pornhub.de">
    <img src="../assets/image/pvp.jpg" width="100%" height="380px">
  </a>
</div>
-->
