.classesbox {
  background-image: url(../../assets/pattern/dark1.jpg);
  width: 100%;
  border-top: 2px solid #85c854;
  border-bottom: 2px solid #11ac82;
  box-shadow: 2px 2px 5px #11ac82;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.frontal {
  margin: auto;
  height:50%;
  width: 55%;
  background-color: brown;
  margin-top: 3%;
  border-top: 8px solid #20150f;
  border-bottom: 3px solid #20150f;
  border-left:  8px solid #20150f;
  border-right: 8px solid #20150f;
  border-radius: 10px;

}

video {
  width: 100%;
  height: 100%;
  background: no-repeat;
}

.pvp {
  width: 100%;
  background-color: #0f0f0f;
  background-color: black;
  text-align: center;
}

.beginner {
  width: 100%;
  background-color: #0f0f0f;
  height: 500px;
  padding-bottom: 5px;
  border-top: 2px solid #20150f;
}

.green {
  width: 49.7%;
  float: left;
  padding: 2px;

}

.arsenal {
  width: 49.7%;
  float: right;
  padding: 2px;

}


a:link {
  text-decoration: none;
}

/* ??? Wieso gehts nicht?
a:hover {
    border-left:solid 1px #DBA921;
    border-right:solid 1px #DBA921;
    border-top:solid 1px #DBA921;
    border-bottom:solid 1px #DBA921;
}
*/

a:active {
  background-color: #DBA921;
}

a {
  text-align: center;
}

img {
  margin: auto;
}
