.classesbox {
  background-image: url(../../assets/pattern/dark1.jpg);
  width: 100%;
  border-top: 2px solid #85c854;
  border-bottom: 2px solid #11ac82;
  box-shadow: 2px 2px 5px #11ac82;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.frontal {
  margin: auto;
  height: auto;
  width: 55%;
  background-color: #20150f;
  margin-top: 2.5%;
  border-top: 8px solid #20150f;
  border-bottom: 3px solid #20150f;
  border-left:  8px solid #20150f;
  border-right: 8px solid #20150f;
  box-shadow: 1px 1px 10px #a9b131;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

}

video {
  width: 100%;
  height: 100%;
  background: no-repeat;
}

/* Maybe Later
.pvp {
  width: 100%;
  background-color: #0f0f0f;
  background-color: black;
  text-align: center;
  box-shadow: 1px 1px 10px #a9b131;
}
*/

.beginner {
  width: 100%;
  background-color: #0f0f0f;
  height: auto;
  padding-bottom: 5px;
  border-top: 1px solid #20150f;
  box-shadow: 1px 1px 10px #a9b131;
}

.green {
  width: 49.5%;
  float: left;

  padding-top: 4px;
  padding-left: 5px;
}

.arsenal {
  width: 49.5%;
  float: right;
  padding-top: 4px;
  padding-right: 8px;

}


a:link {
  text-decoration: none;
}


img:hover {
    border-left:solid 3px #DBA921;
    border-right:solid 3px #DBA921;
    border-top:solid 3px #DBA921;
    border-bottom:solid 3px #DBA921;
}


a:active {
  background-color: #DBA921;
}

a {
  text-align: center;
}

img {
  margin: auto;
}
