<div class="classesbox">
  <div class="classes">
    <ul>
      <li><a href="#home">Krieger</a></li>
      <li><a href="#news">Paladin</a></li>
      <li><a href="#contact">Jäger</a></li>
      <li><a href="#about">Schurke</a></li>
      <li><a href="#home">Priester</a></li>
      <li><a href="#news">Todesritter</a></li>
      <li><a href="#contact">Schamane</a></li>
      <li><a href="#about">Magier</a></li>
      <li><a href="#home">Mönch</a></li>
      <li><a href="#news">Druide</a></li>
      <li><a href="#contact">Dämonenjäger</a></li>
    </ul>
  </div>

</div>
