<div class="classesbox">

      <a href="#">
        <img src="../../assets/icons/warrior.png">
      </a>

      <a href="#">
        <img src="../../assets/icons/paladin.png">
      </a>

      <a href="#">
        <img src="../../assets/icons/jäger.png">
      </a>

      <a href="#">
        <img src="../../assets/icons/schurke.png">
      </a>

      <a href="#">
        <img src="../../assets/icons/priester.png">
      </a>

      <a href="#">
        <img src="../../assets/icons/todesritter.png">
      </a>

      <a href="#">
        <img src="../../assets/icons/schamane.png">
      </a>

      <a href="#">
        <img src="../../assets/icons/magier.png">
      </a>

      <a href="#">
        <img src="../../assets/icons/mönch.png">
      </a>

      <a href="#">
        <img src="../../assets/icons/druide.png">
      </a>

      <a href="#">
        <img src="../../assets/icons/dämonenjäger.png">
      </a>

</div>
