.classesbox {
  background-image: url(../../assets/pattern/dark1.jpg);
  width: 100%;
  border-top: 2px solid darkgreen;
  border-bottom: 2px solid darkgreen;
  box-shadow: 2px 2px 5px darkgreen;
  padding: 15px 0;
  text-align: center;
}

a {
  padding: 3px;
}
