.header-toggle {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid grey;
    border-top: none;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    text-align: center;
}
.header-toggle a img {
    width: 45px;
    height: 45px;
}